h1,h2{
    color:whitesmoke;
    text-align: left;
    background-color: #141111;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.8em;
}

p{
    padding-top:1%;
    font-size: 1.4em;
    margin-left: 2%;
}

body{
    background-color: #141111;
}

div #gameMode-buttons{
    column-width: 30%;
}

div #force-control{
    padding:1%
}

li{
    font-size: 1.4em;
    line-height: 2.333em;
    margin-left: 2%;
}


#controls{
    margin-left: 1%;
}

#instructions{
    background-color: white;
    color:black;
    margin-top:1%;
    border: 1%;
}

#message{
    background-color: rgb(186, 186, 255);;
    margin-left:2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

button{
    background-color: white;
    font-size: 1.2em;
    border: 5px solid rgb(186, 186, 255);
    color: black;
    padding:0.5%;
    margin-right: 0.5%;
    text-align: center;
}

button:hover{
    background-color: rgb(186, 186, 255);
}

input{
    margin-left: 5%;
    height: 10px;
    width:300px;
    -webkit-appearance: none;
    border-radius: 12px;
    outline:none;
    background-color: rgb(186, 186, 255);
    cursor: pointer;
}

input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:20px;
    height:20px;
    background-color: white;
    cursor: pointer;
}


